@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Calendar Style Sheet
   Author: Lee Alexander Canam
   Date:   April 2nd, 2023

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/

/* Styles for devices with screen width up to 640px */
/* Mobile Styles */
@media screen and (max-width: 640px) {
   table,
   tbody,
   tr,
   td,
   th,
   caption {
     display: block;
   }
   thead,
   h1 {
     display: none;
   }
   table caption {
     background-color: #0a0909;
     color: #ffffff;
     font-size: 1.5em;
     line-height: 2em;
     padding: 10px;
   }
 }
 
 td::before {
   content: attr(data-date);
   position: absolute;
   left: 0;
   top: 0;
   width: 40%;
   padding: 5px;
 }
 

 td {
   border: 1px dotted gray;
   color: rgb(11, 12, 145);
   position: relative;
   left: 0;
   padding-left: 40%;
   min-height: 40px;
 }
 
 tr:nth-of-type(odd) {
   background-color: rgb(255, 235, 178);
   border: 2px solid gray;
 }
 


/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
